body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo__base{
    display:none;
    flex-direction: column;
    text-align: center;
    font-size: 32px;
}

.rodape{
    display:flex;
    font-size: 20px;
    justify-content: space-evenly;
    color: white;
}

.placar{
    margin-top: 0;
    font-size: 32px;
    position: absolute;
    margin-right: 400px;
}

.vidas{
    margin: 0;
    color: red;
    font-size: 32px;
    position: absolute;
    margin-left: 400px;
}

.tela__inicial{
    display:flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
}

.start{
    background-color: white;
    border: none;
    margin-top: 150px;
    width: 200px;
    height: 75px;
    font-family: "Oxanium", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 7px 5px 5px red;

}

.restart{
    display: none;
    background-color: white;
    border: none;
    width: 200px;
    height: 75px;
    font-family: "Oxanium", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 7px 5px 5px red;

}

.titulo{
    width: 500px;
    margin-top: 150px;
}

.placar{
        font-family: "Audiowide", serif;
        font-weight: 400;
        font-style: normal;
}

.vidas{
    color: yellow;
}

.vitoria{
    display: none;
    padding: 0;
}

.telaVitoria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}